.modal {
  padding: 30px;
  outline: none;
  border: solid 1px white;
  background-color: #242424;
  border-radius: 20px;
}

.title {
  margin: 0px;
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}
